
<h3>Sus preguntas</h3>

<p>Email: <%= @user.email if @user.email %></p>
<p> <%= link_to "Agregar una pregunta", new_user_question_path(@user) %> | <%= link_to "Volver", users_path %> </p>
<hr />


 
   <% @user.questions.each do |question| %>
    <div class="container">
       <div class="card-panel teal lighten-2 row valign-wrapper"> 
          <div class="col s12 m4 l2">
           <%=  question.description %> 
          </div> 
       </div>
         <p class="z-depth-2"> 
          <%= link_to "Editar", edit_user_question_path(@user, question), class: 'btn-large waves-effect waves-light' %>
          | 
          <%= link_to "Eliminar", user_question_path(@user, question), :confirm => "Seguro desea eliminar esta pregunta?", :method => :delete %> 
         </p>
         <hr />
    </div>
   <% end %>
   <h3>Todas las preguntas</h3>

   <% @questions.each do |question| %>
    <li>
       <div> <%= simple_format question.description %> </div>
         <p> 
          
         </p>
         <hr />
    </li>
   <% end %>




   
 
  



