<nav>

 <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      <li><%= link_to  'Ver todas las preguntas',  questions_path %></li>
      <li><%= link_to 'Users', users_path %></li>
      <li><%=link_to  'Ver mis preguntas', user_path(current_user)%></li>
      <li><%=link_to  'Ver mis preguntas y las de los demas usuarios', question_user_path%></li>
     </ul>
    <nav>
      <div class="nav-wrapper nav-color">
         <a href="#!" class="brand-logo">Logo</a>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button right text-option" href="#!" data-activates="dropdown1">Opciones<i class="material-icons right options-style"></i></a></li>
     </ul>
     </div>
    </nav>
</nav>

</nav>